name: CI

on:
  push:
    branches:
      - main
    tags:
      - "*"
    paths:
      - ".github/workflows/**"
      - "wai-rate-limit/src/**"
      - "wai-rate-limit/package.yaml"
      - "wai-rate-limit-redis/src/**"
      - "wai-rate-limit-redis/test/**"
      - "wai-rate-limit-redis/package.yaml"
      - "docker-compose.yaml"
      - "stack*.yaml"
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        resolver:
          - "stack-lts-16.1"
          - "stack-lts-18"
          - "stack-lts-19"

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: haskell/actions/setup@v1
        id: install-haskell
        with:
          stack-no-global: true
          enable-stack: true
          stack-setup-ghc: true
          stack-version: "latest"

      - name: Cache .stack
        id: cache-stack
        uses: actions/cache@v2
        with:
          path: ${{ steps.install-haskell.outputs.stack-root }}
          key: ${{ runner.os }}-${{ matrix.resolver }}-${{ hashFiles(format('{0}.yaml', matrix.resolver)) }}-${{ hashFiles('**/*.cabal') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.resolver }}-${{ hashFiles(format('{0}.yaml', matrix.resolver)) }}-
            ${{ runner.os }}-${{ matrix.resolver }}-
            ${{ runner.os }}-

      - name: Install dependencies
        run: |
          stack --stack-yaml=${{ matrix.resolver }}.yaml --no-terminal build --only-dependencies --fast

      - name: Build
        id: build
        run: |
          stack --stack-yaml=${{ matrix.resolver }}.yaml --no-terminal build --fast --test --no-run-tests

      - name: Test
        id: test
        run: |
          docker-compose up -d
          stack --stack-yaml=${{ matrix.resolver }}.yaml --no-terminal test --fast
          docker-compose down
